

.header {
    margin: 0px;
    padding: 0px;
    height: 80px;
    width: 100%;
    background: url('assets/blue header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    display: flex;
    align-items: center;
    .logo-container {
        flex: 1;    
        display: flex;
        .logo {
            width: 150px;
            height: 70px;
            margin-left: 40px;
        }
    }
    
    .nav {    
        flex: 1,5;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 100%;
        ul {
          padding: 0px;
          margin: 0px;
          list-style: none;
          display: flex;
          li {
              margin: 0px 3px 0px 3px;
              color: white;
          }  
        }
    }
    .right-panel {
        display: flex;
        justify-content: center;
        flex: 1;
        display: flex;
    }
}