
@nav-color: #3D80B7;
.nav-dark-gradient {
    background: rgba(65,77,85,1);
    background: -moz-linear-gradient(top, rgba(65,77,85,1) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(65,77,85,1)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(65,77,85,1) 0%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top, rgba(65,77,85,1) 0%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(65,77,85,1) 0%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(65,77,85,1) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#414d55', endColorstr='#000000', GradientType=0 );
}


.header {
    margin: 0px;
    padding: 0px;
    height: 80px;
    width: 100%;
    background: url('assets/blue header.jpg') no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    .logo-container {
        flex: 1;    
        display: flex;
        .logo {
            width: 150px;
            height: 70px;
            margin-left: 40px;
        }
    }
    
    .nav {    
        flex: 1,5;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 100%;
        ul {
          padding: 0px;
          margin: 0px;
          list-style: none;
          display: flex;
          li {
              a {
                  font-size: 12px;
                  color: @nav-color;
                  &.active {
                      .nav-dark-gradient;
                        color: white;
                        border: none;
                        border: 1px solid black;
                        border-bottom-left-radius: 0px;
                        border-bottom-right-radius: 0px;
                        &:active {
                            transform: none;
                        }
                  }
                  &:hover {
                      color: white;
                  }
                  &:active {
                      transform: scale(1.1);
                      box-shadow: none;
                  }
              }
              
          }  
        }
    }
    .right-panel {
        display: flex;
        justify-content: center;
        flex: 1;
        display: flex;
        height: 100%;
        align-items: flex-end;
        img {
            width: 15px;
            height: 15px;
            margin: 10px;
            &:hover {
                cursor: pointer;
                transform: scale(1.15);
            }
        }
    }
}