
<div class="header container-fluid">
    <div class="logo-container">
        <img src="assets/logo.svg" alt="DeloitteLabs" class="logo">
    </div>
    <nav class="nav">
        <ul [ngSwitch]="rank">
            <li>
                <a routerLink = "/home" class="btn">Home</a>
            </li>
            <li>
                <a routerLink = "/labs" class="btn">Labs</a>
            </li>
            <li *ngSwitchCase ="!manager">
                <a routerLink = "/profile" class="btn">Profile</a>
            </li>
            <ng-container *ngSwitchCase ="manager">
                <li  *ngFor="let link of links.manager">
                    <a routerLink = "/login" class="btn">{{link.name}}</a>
                </li>
            </ng-container>
            
             
        </ul>
    </nav>
    <div class="right-panel">
        <button class="btn btn-default">
            button1
        </button>
        <button class="btn btn-default">
            button2
        </button>
    </div>
</div>