
<div class="header container-fluid" (window:resize)="resize()">
    <div class="logo-container">
        <a routerLink="/home">
            <img src="assets/logo.svg" alt="DeloitteLabs" class="logo">   
        </a>
    </div>
    <nav class="nav" *ngIf="!mobile()">
        <ul >
            <li>
                <a routerLink = "/home" routerLinkActive = "active" class="btn">Home</a>
            </li>
            <li>
                <a routerLink = "/labs" routerLinkActive = "active" class="btn">Labs</a>
            </li>
            <li *ngIf ="rank !== 'manager'">
                <a routerLink = "/profile" routerLinkActive = "active" class="btn">Profile</a>
            </li>
            <ng-container *ngIf ="rank === 'manager'">
                <li  *ngFor="let link of links.manager">
                    <a routerLink = "/{{link.path}}" routerLinkActive = "active" class="btn">{{link.name}}</a>
                </li>
            </ng-container>
            <ng-container *ngIf ="rank === 'labOwner'">
                <li  *ngFor="let link of links.labOwner">
                    <a routerLink = "/{{link.path}}" routerLinkActive = "active" class="btn">{{link.name}}</a>
                </li>
            </ng-container>
        </ul>
    </nav>
    <div class="right-panel" *ngIf="!mobile()">
        <img src="assets/Bell Icon.svg" alt="Notifications" (click)="notiClick()">
        <img src="assets/Log Out.svg" alt="Log Out">
    </div>
    <div class="mobile-menu"  *ngIf="mobile()">
        <i #MobileMenu class="glyphicon glyphicon-menu-hamburger" (click)="mobileMenu(MobileMenu)"></i>
    </div>
</div>