
<div class="propose-lab">
    <div class="error" *ngIf="error">
      <div class="error-message">
        <div class="error-header"></div>
        <div class="content">
          <p>Please complete all the mandatory fields before submitting your proposal</p>
          <button type="button" (click)="errorAccept()" name="button">
            Accept
          </button>
        </div>
      </div>
    </div>
    <span class="breadcrumb">
      <a href="/labs">Labs</a> / Propose Lab
    </span>
    <h3>Propose Lab </h3>

  <hr/>
  <form action="" class="form">
    <div >
      <label for="name" class="input-label">
        Name <i>*</i>
      </label>
      <input type="text" [ngClass]="{'incomplete-field': mandatoryIncomplete && name == ''}"
       [(ngModel)]="name"  id="name" name="name">
    </div>
    <div>
      <label for="image" class="input-label">
        Image
      </label>
      <div class="file-group">
        <input type="text" [value]="fileName"  name="image-field" readonly class="image-field" >
        <label for="image" (click)="browseClick()">
          Browse
        </label>
      </div>

      <input type="file" id="image" #file (change)="fileValueChange(file)" name="image">
    </div>
    <div>
      <label for="description" class="input-label">
        Description <i>*</i>
      </label>
      <textarea name="description" [ngClass]="{'incomplete-field': mandatoryIncomplete && description == ''}"
       [(ngModel)]="description" rows="5" id="description" name="description"></textarea>
    </div>
    <div>
      <label for="tags" class="input-label">
        Tags <i>*</i>
      </label>
      <div class="tags">
        <div class="tags-input">
          <input type="text" id="tags" #inputTag name="tags" [ngClass]="{'incomplete-field': mandatoryIncomplete && tagsArray.length === 0}"
            (keypress)="addTag($event, inputTag)">
          <button>+</button>
        </div>
         <ul *ngIf="tagsArray" class="tags-list">
           <li *ngFor="let tag of tagsArray">
             {{tag}} <img src="assets/close-cross.png" alt="X" (click)="removeTag(tag)">
           </li>
         </ul>
      </div>
    </div>
    <div class="buttons">
      <button class="cancel" >
        Cancel
      </button>
      <button class="submit" (click)="submit()">
        Submit
      </button>
    </div>
  </form>
  
</div>
