<div class="app-development">
  <span class="breadcrumb">
    <a href="/labs">Active Labs </a> / App Development
  </span>
  <div class="header">
    <h3>App Development</h3>
    <button class="leave-btn" (click)="leave()">
      Leave
    </button>  
  </div>

  <div class="content">
    <tabset #staticTabs class="tabset col-md-8 col-xs-10 col-lg-8">
      <tab heading="Project info" draggable="false" customClass="heading">
        <app-project-info></app-project-info>
      </tab>
      <tab heading="Team" customClass="heading">
        <app-team></app-team>
      </tab>
      <tab heading="Repository" customClass="heading">
        <app-repository></app-repository>
      </tab>
      <tab heading="Tasks" customClass="heading">
        <app-tasks></app-tasks>
      </tab>
      <tab heading="Forum" customClass="heading">
        <app-forum></app-forum>
      </tab>
    </tabset>
  </div>
</div>