@import '../../common';

.team {
    
    min-height: 300px;
    background: white;
    border: 1px solid @light-grey;
    border-top: none;
    display: flex;
    flex-direction: column;
    .add-member {
        display: flex;
        justify-content: flex-end;
        padding: 10px;
        align-self: flex-end;
        .add-member-btn {
            .blue-gradient;
            color: white;
            display: flex;
            align-items: center;
            border-radius: 5px;
            border: 1px solid @primary;
            b{
                font-size: 20px;
                display: inline-block;
                margin-right: 5px;
            }
            &:hover {
                opacity: .8;
            }
        }
    }

    .labels {
        display: flex;
        align-items: center;
        color: @secondary;
        font-weight: bold;
        margin-top: 20px;
        span {
            justify-content: center;
        }
    }
    hr {
        border: none;
        background: @secondary;
        height: 1px;
        padding: 0px;
        width: 94%;
        margin: 10px 3%;
        
    }

    .team-members {
        list-style: none;
        padding: 0px;
        .member {
            display: flex;
            flex-direction: column;
            padding: 0px;
            .data {
                display: flex;
                flex-direction: row;
                .role-fixed {
                    color: @primary;
                    justify-content: center;
                    text-align: left;
                }
                .name {
                    padding-left: 30px;
                    .delete-member {
                        cursor: pointer;
                    }
                }
                select {
                    padding: 0px 2px;

                }
                .status {
                    .status-box {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 12px;
                        // margin-left: 10px;
                        padding: 5px 10px;
                        background: @border-color;
                        color: white;
                        &.active {
                            background: @light-green;
                        }
                    }
                    
                }
                
            }
        }
        
    }
}


.new-member-modal {
    background: rgba(0,0,0,0.7);
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    .new-member {
        background: white;
        height: 350px;
        padding: 0px;
        display: flex;
        flex-direction: column;
        .header {
            height: 10px;
            padding: 0px;
        }
        .new-member-form {
            padding: 20px;
            h3 {
                color: @primary;
                font-weight: bold;
                margin-bottom: 30px;
            }
            .row {
              margin: 15px;
              display: flex;
              justify-content: space-between;
              label {
                color: @primary;
                font-weight:bold;
                }  
            }
            
            .new-member-buttons {
                display: flex;
                justify-content: flex-end;
                .buttons {
                    display: flex;
                    justify-content: space-between;
                    padding: 0px;
                    margin-top: 30px;
                    button {
                        width: ~"calc(50% - 10px)";
                        &.save {
                            .blue-gradient;
                            color: white;
                            border: 1px solid @primary;
                        }
                        &.cancel {
                            .gradient;
                            border: 1px solid @border-color;
                        }
                    }
                }
            }
        }
    }
}


@media @smartphone {
    .add-member-btn {
        font-size: .7em;
        b {
            font-size: .7em;
        }
    }
}

