<div class="team">
  <div class="add-member col-xs-3" >
    <button class="add-member-btn" *ngIf="userData.rank === 'manager'" (click)="toggleNewMemberModal()">
      <b>+</b> Add Member
    </button>
  </div>
  <div class="labels col-xs-12">
    <span class="col-xs-4 col-md-5">User</span>
    <span class="col-xs-4 col-md-2">Role</span>
    <span class="col-xs-4 col-md-2">Status</span>
  </div>
  <hr class="hr col-sm-12 col-md-8">
  <ul class="team-members">
    <li *ngFor="let member of lab.team" class="member">
      <div class="data">
        <div class="name col-xs-4 col-md-5">
          <img src="" class="delete-member" alt="X" (click)="deleteMember(member)">
          {{member.name}}
        </div>
        <select name="role" id="role" class="col-xs-4 col-md-2"  [value]="member.role" *ngIf="userData.rank === 'manager'">
          <option value="owner">
            Owner
          </option>
          <option value="member">
            Member
          </option>
        </select>
        <div class="role-fixed col-xs-4 col-md-2" *ngIf="userData.rank === 'user'" >
          {{member.role}}
        </div>
        <div class="status col-xs-4 col-md-2">
          <div class="status-box" [class.active]="member.status == 'active'">
            {{member.status}}
          </div>
        </div>
      </div>
      
      <hr class="hr col-sm-12 col-md-8">
    </li>
  </ul>
</div>

<div class="new-member-modal" *ngIf="showNewMemberModal">
  <div class="new-member col-xs-11 col-md-5">
    <div class="col-xs-12 blue-gradient header"></div>
    <div class="new-member-form">
      <h3>Add Member</h3>
      <div class="row">
        <label for="user" class="col-xs-6">User</label>
        <input type="text" id="user" class="col-xs-6" #user>
      </div>
      <div class="row">
        <label for="role" class="col-xs-6">Role</label>
        <select name="role" id="role" class="col-xs-6" #role>
          <option value="member">Member</option>
          <option value="owner">Owner</option>      
        </select>
      </div>
      <div class="col-xs-12 new-member-buttons">
        <div class="col-xs-12 col-md-6 buttons">
          <button (click)="toggleNewMemberModal()" class="btn cancel">Cancel</button>
          <button (click)="addMember(user.value, role.value)" class="btn save">SAVE</button>
        </div>
      </div>
    </div>
  </div>
</div>


<app-boxes [lab]="lab"></app-boxes>