<div class="edit-home">
  <h3>Home</h3>
  <hr>
  <div class="content col-md-12 col-xl-12 col-sm-12">
    <form class="col-md-6 col-xs-12">
      <label for="description" class="col-md-12 col-xs-12">
        Home Edition
      </label>
      <textarea  id="description" class="desc col-md-12 col-xs-12" rows="7"></textarea>
      <label for="image" class="col-md-12 col-xs-12">
        Image
      </label>
      <div class="file-group col-md-12 col-xs-12">
        <input type="text" [value]="fileName"  name="image-field" readonly class="image-field" >
        <label for="image" (click)="browseClick()">
          Browse
        </label>
      </div>
      <input type="file" id="image" #file (change)="fileValueChange(file)" name="image">
      <img class="preview col-md-4 col-xs-12" [src]="imageSrc" *ngIf="imageSrc != '#'" alt="your image">
      <div class="buttons col-md-12 col-xs-12 col-lg-12">
        <a routerLink="/home" class="cancel btn">
          Cancel
        </a>
        <a routerLink="#" class="save btn">
          Save
        </a>
      </div>
    </form>  
  </div>
</div>