<div class="login">
  <section class="login-background">
    <h1><b>Deloitte</b> labs</h1>
    <div class="login-form">
      <div class="form-header">
        <h3><b>Log In</b></h3>
      </div>
      <div>
        <form action="" class="form">
          <p>
            <label for="">
              Email
            </label>
            <input type="text">
          </p>
          <p>
            <label for="">
              Password
            </label>
            <input type="text">
          </p>
          <div class="sign-in">
            <button (click)="signIn()" class="btn btn-success sign-in-btn">
              Sign In
            </button>
          </div>
          <span *ngIf="error" class="error">
            Algun error
          </span>
        </form>
      </div>
    </div>
  </section>
</div>
