<div class="login">
  <section class="login-background">
    <img src="assets/deloitte-labs-logo.png" alt="Deloitte Labs">
    <div class="login-form">
      <div class="form-header">
        <h3><b>Log In</b></h3>
      </div>
      <div>
        <form action="" class="form">
          <p>
            <label for="">
              E-mail
            </label>
            <input type="text">
          </p>
          <p>
            <label for="">
              Password
            </label>
            <input type="password">
          </p>
          <div class="sign-in">
            <button (click)="signIn()" class="btn sign-in-btn">
              Sign In
            </button>
          </div>
          <div  class="error-container">
            <span *ngIf="error" class="error">
              Not a member? click <a href="#">here</a> to make a request
            </span>
          </div>
        </form>
      </div>
    </div>
  </section>
  <footer class="footer">© Creted by Globant & Deloitte</footer>
</div>
