@import '../common';
@principal: #2980b9;



.labs {
  .view;
  width: 100%;
  hr {
    border-color: grey;
    border-width: 0.2px;
  }
  ul{
    list-style: none;
  }
  .propose-lab {
    padding: 50px 10px 0px 0px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    .propose-lab-btn {
      width: 150px;
      cursor: pointer;
      transition: .5s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  .show-labs {
    padding-left: 50px;
    padding-top: 10px;
    .labs-list {
      position: relative;
      .list {
        transition: 1s;
        display: flex;
        flex-direction: row;
        margin: 0px;
        padding: 0px;
        width: 100%;
        overflow-x: hidden;
        .lab {
          margin-right: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
          background: white;
          img {
              height: 200px;
              width: 400px;
            }
          .lab-data {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;       
            .info {
              color: @primary;
              text-align: right;
              cursor: pointer;
              align-self: flex-end;
              margin-right: 20px;
            }
            h3 {
              color: @primary;
              margin-top: 5px;
              width: 100%;
              text-align: left;
              text-transform: uppercase;
            }
          }
        }

      }
    }
  }

  .proposed-labs {
    .show-labs;
  }

  .slide-arrow {
    width: 80px;
    // height: 100px;
    position: absolute;
    top: 50%;
    bottom: 50%;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .slide-arrow-back {
    width: 80px;
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

.fixedbtn {
  position: fixed;
  top: 50px;

}


@media @smartphone {
  .labs {
    font-size: 1em;
    h2 {
      font-size: 2em;
    }
  }
  .propose-lab {
    padding-top: 10px !important;
  }
  .show-labs {
    padding: 5px !important;
  }
  .lab {
    min-width: 300px;
    h3 {
      font-size: 1.5em;
    }
    p {
      font-size: 1em;
    }
  }
  .lab-img {
      width: 100% !important;
      height: auto;
  }
  .list {
    overflow-x: auto !important;
  }
  .slide-arrow, .slide-arrow-back {
      display: none !important;
  }
}