<div class="tasks">
  <div class="jira-data">
    <span>
      JIRA URL
    </span>
    <input type="text" #jiraUrl [value]="lab.jiraUrl" readonly>
    <button (click)="copyToClipboard(jiraUrl, pop)" popover="Copied to Clipboard" placement="top" triggers="" #pop="bs-popover" container="body">
      Copy
    </button>
  </div>
  <div class="task-list col-xs-12">
    <div class="task-state">
      <h5>
        Pending
      </h5>
      <hr>
        <blockquote *ngFor="let pendingTask of tasks.pending">
          <div class="task-content">
            <h6>{{pendingTask.name}}</h6>
            <div class="bar">
              <div class="progress col-xs-10">
                <bs-progress>
                  <bar [value]="100"></bar>
                </bs-progress>
              </div>
              <span class="col-xs-2">
                {{pendingTask.fullDuration}}
              </span>
            </div>
            <div class="bar">
              <div class="progress col-xs-10">
                <bs-progress>
                  <bar [value]="pendingTask.finished" type="success"></bar>
                  <bar [value]="100 - pendingTask.finished" type="warning"></bar>
                </bs-progress>
              </div>
              <span class="col-xs-2">
                {{pendingTask.finished}}%
              </span>
            </div>
          </div>
        </blockquote>
    </div>
    <div class="task-state">
      <h5>
        In Progress
      </h5>
      <hr>
      <blockquote *ngFor="let task of tasks.inProgress">
        <div class="task-content">
          <h6>{{task.name}}</h6>
          <div class="bar">
            <div class="progress col-xs-10">
              <bs-progress>
                <bar [value]="100"></bar>
              </bs-progress>
            </div>
            <span class="col-xs-2">
              {{task.fullDuration}}
            </span>
          </div>
          <div class="bar">
            <div class="progress col-xs-10">
              <bs-progress>
                <bar [value]="task.finished" type="success"></bar>
                <bar [value]="100 - task.finished" type="warning"></bar>
              </bs-progress>
            </div>
            <span class="col-xs-2">
              {{task.finished}}%
            </span>
          </div>
        </div>
      </blockquote>
    </div>
    <div class="task-state">
      <h5>
        Testing 
      </h5>
      <hr>
      <blockquote *ngFor="let task of tasks.testing">
        <div class="task-content">
          <h6>{{task.name}}</h6>
          <div class="bar">
            <div class="progress col-xs-10">
              <bs-progress>
                <bar [value]="100"></bar>
              </bs-progress>
            </div>
            <span class="col-xs-2">
              {{task.fullDuration}}
            </span>
          </div>
          <div class="bar">
            <div class="progress col-xs-10">
              <bs-progress>
                <bar [value]="task.finished" type="success"></bar>
                <bar [value]="100 - task.finished" type="warning"></bar>
              </bs-progress>
            </div>
            <span class="col-xs-2">
              {{task.finished}}%
            </span>
          </div>
        </div>
      </blockquote>
    </div>
    <div class="task-state">
      <h5>
        Done
      </h5>
      <hr>
      <blockquote *ngFor="let task of tasks.done">
        <div class="task-content">
          <h6>{{task.name}}</h6>
          <div class="bar">
            <div class="progress col-xs-10">
              <bs-progress>
                <bar [value]="100"></bar>
              </bs-progress>
            </div>
            <span class="col-xs-2">
              {{task.fullDuration}}
            </span>
          </div>
          <div class="bar">
            <div class="progress col-xs-10">
              <bs-progress>
                <bar [value]="task.finished" type="success"></bar>
                <bar [value]="100 - task.finished" type="warning"></bar>
              </bs-progress>
            </div>
            <span class="col-xs-2">
              {{task.finished}}%
            </span>
          </div>
        </div>
      </blockquote>
    </div>
  </div>
</div>
<app-boxes [lab]="lab"></app-boxes>