<div class="repository">
  <div class="main-content">
    <div class="instructions col-xs-12 col-md-6">
      <h4>
        Get Started with command line
      </h4>
      <ul>
        <li *ngFor="let instruction of lab.instructions">
          {{instruction}}
        </li>
      </ul>
    </div>
    <div class="repo col-xs-12 col-md-6">
      <h4>URL</h4>
      <input type="text" #repository [value]="lab.repository" readonly>
      <button class="btn" #copy (click)="copy(repository, copy)" popover="Copied to clipboard" placement="top"
        triggers="focus"> Copy </button>
    </div>

  </div>

</div>
<app-boxes [lab]="lab">
</app-boxes>