<div class="home container-fluid">
  <h3>Home</h3>
  <hr/>
  <div class="content col-md-12 col-sm-12 col-lg-12"
       [ngStyle]="{'background-image': 'url(' + backgroundImage + ')'}">
    <div class="col-md-12 col-sm-12 col-lg-12">
      <p class="col-md-8 col-sm-8 col-xs-12">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore veniam impedit numquam recusandae sint illo velit nemo beatae odio quasi eligendi, eaque dicta vel provident aut consectetur maiores omnis ducimus!
      </p>
    </div>
      <a *ngIf="user.rank === 'manager'" class="btn" routerLink="/home/edit">
        Edit
      </a>
  </div>

  
  

</div>
